body{
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #f3f3f3;
    margin: 0;
    font-family: 'Poppins', sans-serif;
/* font-family: 'Liu Jian Mao Cao', cursive; */

}

.box{
    position: relative;
    width: 80%;
}
.box h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 10em;
    text-transform: uppercase;
    text-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.box h1:nth-child(2)
{
    background: #f3f3f3;
    color:#fff;
    overflow: hidden;
    /* z-index: 2; */
    transition: 0.5s;
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 0, 1% 100%);
    clip-path: polygon(0 1%, 100% 1%, 100% 0, 1% 100%);

}

.box h1:nth-child(2):hover{
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0% 100%);
clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0% 100%);
}
.box h1:nth-child(1):hover ~h1{
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 0, 0 0);
clip-path: polygon(0 1%, 100% 1%, 100% 0, 0 0);
}