
 body{
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
    background-color: #050801;

}
.buttons{
    display: inline-block;
}
.night{
    height: 80vh;
    width: 70vw;
    margin: 5rem auto;
    background-image: url(./assets/Img_1.png);
    background-size: cover;
    position: relative;
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
    6px 6px 20px rgba(0,0,0,0.1);
    overflow-x: hidden;
}
.surface{
    height: 140px;
    width:500%;
    background-image: url(./assets/Img_02.png);
    display: block;
    position: absolute;
    bottom: 0%;
    left:0%;
    background-repeat: repeat-x ;
    
}
.starter{
    animation: moveright 6s linear infinite;
}
.car{
    position: absolute;
    bottom: 8%;
    left:24%;
   
}
.start{
    animation: suspension 1s linear infinite ;
}

/* animation */
@keyframes moveright{
    100%{
        transform: translateX(-2950px);
    }
}

@keyframes suspension{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(2px);
    }
    0%{
        transform: translateY(-1px);
    }
}
.xyz{

    margin:2px 220px;
    display: inline-block;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin-top: 10px;
    color:#03e9f4;
    font-size:22px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent ,#0005 );
}

a:nth-child(1){
    filter: hue-rotate(290deg);
}
a:nth-child(3){
   filter: hue-rotate(110deg);
}

a:hover{
    background: #03e9f4;
    color:#050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
a span{
    position: absolute;
    display: inline-block;

}
a span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height:2px;
    background:linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite ;

}
@keyframes animate1{
    0%{
        left:-100%;
    }
    50%,100%{
        left:100%;
    }
}
a span:nth-child(2 ){
   top:-100px;
   right:0;
   width:2px;;
   height:100%;
   background:linear-gradient(180deg,transparent,#03e9f4);
   animation:animate2 1s linear infinite;
   animation-delay: 0.25s;
}
@keyframes animate2{
   0%{
       top:-100%;
   }
   50%,100%{
       top:100%;
   }
}
a span:nth-child(3 ){
   right:-100px;
   bottom:0;
   height:2px;;
   width:100%;
   background:linear-gradient(270deg,transparent,#03e9f4);
   animation:animate3 1s linear infinite;
   animation-delay: 0.5s;
}
@keyframes animate3{
   0%{
       right:-100%;
   }
   50%,100%{
       right:100%;
   }
}
a span:nth-child(4 ){
   bottom:-100px;
   left:0;
   width:2px;;
   height:100%;
   background:linear-gradient(360deg,transparent,#03e9f4);
   animation:animate4 1s linear infinite;
   animation-delay: 0.75s;
}
@keyframes animate4{
   0%{
       bottom:-100%;
   }
   50%,100%{
       bottom:100%;
   }
}
/* button */
    /* .button {
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        outline: none;
        color: #fff;
        display: inline-block;
        background-color: rgb(255, 180, 81);
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }
      
     
      
      .button:active {
        background-color: rgb(255, 180, 81);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      } */



